In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce

%matplotlib inline
plt.style.use('seaborn-colorblind')

In [2]:

sat_1987_1998 = pd.read_excel('data/SAT_1987_1998.xls', skiprows=range(11))
sat_2017_2018 = pd.read_excel('data/SAT_2017_2018.xls', skiprows=range(5))

#2005-2015
old_2006_2009 = pd.read_excel('data/2006_2009.xls', skiprows=range(3)) #<-- 2005,2007,2008,2009
load_2006 = pd.read_excel('data/2006.xls', skiprows = range(6)) #<-- 2006
sat_1995_2015 = pd.read_excel('data/SAT_1995_2015.xls', skiprows=range(3)) #<-- 2010, 2013, 2014
load_2011_2012 = pd.read_excel('data/2010-2012.xls', skiprows=range(5)) #<-- 2011, 2012
load_2015 = pd.read_excel('data/2015.xls', skiprows=range(5)) #<-- 2015


#Remove unwanted rows and columns
sat_2017 = sat_2017_2018.iloc[:-3, :8]
sat_2018 = sat_2017_2018.iloc[:-3, 8:]

### Old SAT format: 2400 score. Lasted from 2005-2015

In [3]:
#Filtering, splitting functions

#Get the clean list of states from the DF.
def clean_states(df:pd.DataFrame) -> list:
    states_list = []
    for i in df.iloc[:, 0]:
        states_list.append(i.split('.')[0])
        
    return states_list

#Cleaning up data and split the DF into respective years if applicable
def clean_multi_dataset(df, renamed_col = ['State', 'Reading', 'Math', 'Writing']):
    for i in range(1, len(df.columns) - 1, 3):
        data_year = df.iloc[:,i:i+3]

        data_year.insert(0, 'States', clean_states(df))
        data_year.columns = renamed_col
        data_year['SAT Total Score'] = data_year.apply(lambda row: row.Reading + row.Math + row.Writing, axis=1)

        yield data_year
    
#For grabbing a single year out of the dataset:
def clean_dataset(df, start, end, renamed_col = ['State', 'Reading', 'Math', 'Writing']):
    data_year = df.iloc[:, start:end]

    data_year.insert(0, 'States', clean_states(df))
    data_year.columns = renamed_col
    data_year['SAT Total Score'] = data_year.apply(lambda row: row.Reading + row.Math + row.Writing, axis=1)

    return data_year

In [4]:
#Clean table of NaN rows and columns and nonuseful data.
def remove_nan(df):
    return df[pd.notnull(df.iloc[:,1])]

#Ready for splitting and filtering:

#For 2006
data_2006 = remove_nan(load_2006)

#For 2005, 2007, 2008, 2009
old_2006_2009 = remove_nan(old_2006_2009).drop(columns=[2,3,4,5,18,19])

#For 2010, 2013, 2014
sat_1995_2015 = remove_nan(sat_1995_2015).drop(columns=[2,3,4,5,6,7,8,18,19])

#For 2011, 2012
load_2011_2012 = remove_nan(load_2011_2012)

#For 2015
load_2015 = remove_nan(load_2015)

In [5]:


#Relevant tables for 2005-2010:
cleaned_2005_2009 = clean_multi_dataset(old_2006_2009) #<-- 2005, 2007, 2008, 2009
cleaned_10_13_14 = clean_multi_dataset(sat_1995_2015) #<-- 2010, 2013, 2014
cleaned_11_12 = clean_multi_dataset(load_2011_2012) #<-- 2011, 2012

# Data for 2005-2010:
sat_2005 = next(cleaned_2005_2009)
sat_2006 = clean_dataset(data_2006, 12, 15)
sat_2007 = next(cleaned_2005_2009)
sat_2008 = next(cleaned_2005_2009)
sat_2009 = next(cleaned_2005_2009)
# sat_2010 = next(cleaned_10_13_14)

# #Data for 2011-2015:
sat_2010 = next(cleaned_10_13_14)
sat_2011 = next(cleaned_11_12)
sat_2012 = next(cleaned_11_12)
sat_2013 = next(cleaned_10_13_14)
sat_2014 = next(cleaned_10_13_14)
sat_2015 = clean_dataset(load_2015, 14, 17)
sat_2005

                    State  Reading   Math  Writing  SAT Total Score
0          United States     503.0  518.0    497.0           1518.0
1                Alabama     565.0  561.0    565.0           1691.0
2                 Alaska     517.0  517.0    493.0           1527.0
3                Arizona     521.0  528.0    507.0           1556.0
4               Arkansas     574.0  568.0    567.0           1709.0
5             California     501.0  518.0    501.0           1520.0
7               Colorado     558.0  564.0    548.0           1670.0
8            Connecticut     512.0  516.0    511.0           1539.0
9               Delaware     495.0  500.0    484.0           1479.0
10  District of Columbia     487.0  472.0    482.0           1441.0
11               Florida     496.0  497.0    480.0           1473.0
13               Georgia     494.0  496.0    487.0           1477.0
14                Hawaii     482.0  509.0    472.0           1463.0
15                 Idaho     543.0  545.0    525.0           1613.0
16              Illinois     591.0  609.0    586.0           1786.0
17               Indiana     498.0  509.0    486.0           1493.0
19                  Iowa     602.0  613.0    591.0           1806.0
20                Kansas     582.0  590.0    566.0           1738.0
21              Kentucky     562.0  562.0    555.0           1679.0
22             Louisiana     570.0  571.0    571.0           1712.0
23              Maine\3\     501.0  501.0    491.0           1493.0
25              Maryland     503.0  509.0    499.0           1511.0
26         Massachusetts     513.0  524.0    510.0           1547.0
27              Michigan     568.0  583.0    555.0           1706.0
28             Minnesota     591.0  600.0    574.0           1765.0
29           Mississippi     556.0  541.0    562.0           1659.0
31              Missouri     587.0  591.0    582.0           1760.0
32               Montana     538.0  545.0    524.0           1607.0
33              Nebraska     576.0  583.0    566.0           1725.0
34                Nevada     498.0  508.0    481.0           1487.0
35         New Hampshire     520.0  524.0    509.0           1553.0
37            New Jersey     496.0  515.0    496.0           1507.0
38            New Mexico     557.0  549.0    543.0           1649.0
39              New York     493.0  510.0    483.0           1486.0
40        North Carolina     495.0  513.0    485.0           1493.0
41          North Dakota     610.0  617.0    588.0           1815.0
43                  Ohio     535.0  544.0    521.0           1600.0
44              Oklahoma     576.0  574.0    563.0           1713.0
45                Oregon     523.0  529.0    503.0           1555.0
46          Pennsylvania     493.0  500.0    483.0           1476.0
47          Rhode Island     495.0  502.0    490.0           1487.0
49        South Carolina     487.0  498.0    480.0           1465.0
50          South Dakota     590.0  604.0    578.0           1772.0
51             Tennessee     573.0  569.0    572.0           1714.0
52                 Texas     491.0  506.0    487.0           1484.0
53                  Utah     560.0  557.0    550.0           1667.0
55               Vermont     513.0  519.0    502.0           1534.0
56              Virginia     512.0  513.0    500.0           1525.0
57            Washington     527.0  532.0    511.0           1570.0
58         West Virginia     519.0  510.0    515.0           1544.0
59             Wisconsin     588.0  600.0    577.0           1765.0
60               Wyoming     548.0  555.0    537.0           1640.0

### 2005-2010 SAT Total Score for each State:

In [6]:
to_merge = [sat_2005[['State', 'SAT Total Score']], sat_2006[['State', 'SAT Total Score']], sat_2007[['State', 'SAT Total Score']], 
            sat_2008[['State', 'SAT Total Score']], sat_2009[['State', 'SAT Total Score']]]

In [7]:
df = reduce(lambda x, y: pd.merge(x,y, on='State', how='inner'), to_merge)
df.columns = ['States', '2005 SAT Scores', '2006 SAT Scores', '2007 SAT Scores', '2008 SAT Scores', '2009 SAT Scores']

In [8]:
df['Average Over 5 Years'] = df.drop('States', axis=1).apply(lambda x: x.mean(), axis=1)
df

,States,2005 SAT Scores,2006 SAT Scores,2007 SAT Scores,2008 SAT Scores,2009 SAT Scores,Average Over 5 Years
0,United States,1518.0,1511.0,1511.0,1509.0,1509.0,1511.6
1,Alabama,1691.0,1673.0,1676.0,1658.0,1650.0,1669.6
2,Alaska,1527.0,1527.0,1533.0,1528.0,1524.0,1527.8
3,Arizona,1556.0,1546.0,1538.0,1534.0,1544.0,1543.6
4,Arkansas,1709.0,1709.0,1701.0,1700.0,1684.0,1700.6
5,California,1520.0,1513.0,1512.0,1511.0,1517.0,1514.6
6,Colorado,1670.0,1674.0,1687.0,1698.0,1695.0,1684.8
7,Connecticut,1539.0,1533.0,1535.0,1534.0,1536.0,1535.4
8,Delaware,1479.0,1479.0,1487.0,1477.0,1469.0,1478.2
9,District of Columbia,1441.0,1411.0,1390.0,1378.0,1404.0,1404.8
10,Florida,1473.0,1472.0,1474.0,1475.0,1473.0,1473.4
11,Georgia,1477.0,1472.0,1466.0,1460.0,1453.0,1465.6
12,Hawaii,1463.0,1463.0,1453.0,1450.0,1458.0,1457.4
13,Idaho,1613.0,1599.0,1597.0,1601.0,1601.0,1602.2
14,Illinois,1786.0,1793.0,1762.0,1775.0,1762.0,1775.6
15,Indiana,1493.0,1487.0,1485.0,1483.0,1476.0,1484.8
16,Iowa,1806.0,1807.0,1797.0,1813.0,1798.0,1804.2
17,Kansas,1738.0,1742.0,1733.0,1734.0,1752.0,1739.8
18,Kentucky,1679.0,1685.0,1692.0,1707.0,1713.0,1695.2
19,Louisiana,1712.0,1699.0,1688.0,1676.0,1652.0,1685.4
20,Maryland,1511.0,1498.0,1498.0,1497.0,1502.0,1501.2
21,Massachusetts,1547.0,1546.0,1552.0,1550.0,1547.0,1548.4
22,Michigan,1706.0,1700.0,1751.0,1762.0,1766.0,1737.0
23,Minnesota,1765.0,1776.0,1784.0,1782.0,1781.0,1777.6
24,Mississippi,1659.0,1677.0,1696.0,1680.0,1666.0,1675.6
25,Missouri,1760.0,1775.0,1775.0,1779.0,1768.0,1771.4
26,Montana,1607.0,1603.0,1612.0,1602.0,1593.0,1603.4
27,Nebraska,1725.0,1726.0,1733.0,1753.0,1746.0,1736.6
28,Nevada,1487.0,1486.0,1482.0,1485.0,1470.0,1482.0
29,New Hampshire,1553.0,1554.0,1555.0,1556.0,1554.0,1554.4
30,New Jersey,1507.0,1499.0,1504.0,1505.0,1506.0,1504.2
31,New Mexico,1649.0,1641.0,1645.0,1633.0,1636.0,1640.8
32,New York,1486.0,1478.0,1473.0,1465.0,1461.0,1472.6
33,North Carolina,1493.0,1486.0,1489.0,1486.0,1485.0,1487.8
34,North Dakota,1815.0,1742.0,1766.0,1749.0,1733.0,1761.0
35,Ohio,1600.0,1600.0,1599.0,1606.0,1608.0,1602.6
36,Oklahoma,1713.0,1708.0,1701.0,1703.0,1684.0,1701.8
37,Oregon,1555.0,1550.0,1552.0,1547.0,1546.0,1550.0
38,Pennsylvania,1476.0,1474.0,1478.0,1477.0,1473.0,1475.6
39,Rhode Island,1487.0,1486.0,1486.0,1488.0,1477.0,1484.8
40,South Carolina,1465.0,1459.0,1461.0,1452.0,1447.0,1456.8
41,South Dakota,1772.0,1758.0,1766.0,1758.0,1766.0,1764.0
42,Tennessee,1714.0,1711.0,1707.0,1701.0,1712.0,1709.0
43,Texas,1484.0,1481.0,1473.0,1467.0,1462.0,1473.4
44,Utah,1667.0,1658.0,1661.0,1657.0,1674.0,1663.4
45,Vermont,1534.0,1542.0,1549.0,1542.0,1546.0,1542.6
46,Virginia,1525.0,1520.0,1522.0,1521.0,1521.0,1521.8
47,Washington,1570.0,1567.0,1568.0,1562.0,1564.0,1566.2
48,West Virginia,1544.0,1528.0,1511.0,1511.0,1522.0,1523.2
49,Wisconsin,1765.0,1760.0,1768.0,1784.0,1778.0,1771.0
50,Wyoming,1640.0,1680.0,1677.0,1685.0,1683.0,1673.0