In [1]:
import pandas as pd

In [9]:

sat_1987_1998 = pd.read_excel('data/SAT_1987_1998.xls', skiprows=range(11))
sat_2017_2018 = pd.read_excel('data/SAT_2017_2018.xls', skiprows=range(5))

#2005-2015
old_2006_2009 = pd.read_excel('data/2006_2009.xls', skiprows=range(3)) #<-- 2005,2007,2008,2009
load_2006 = pd.read_excel('data/2006.xls', skiprows = range(6)) #<-- 2006
sat_1995_2015 = pd.read_excel('data/SAT_1995_2015.xls', skiprows=range(3)) #<-- 2010, 2013, 2014
load_2011_2012 = pd.read_excel('data/2010-2012.xls', skiprows=range(5)) #<-- 2011, 2012
load_2015 = pd.read_excel('data/2015.xls', skiprows=range(5)) #<-- 2015


#Remove unwanted rows and columns
sat_2017 = sat_2017_2018.iloc[:-3, :8]
sat_2018 = sat_2017_2018.iloc[:-3, 8:]

### Old SAT format: 2400 score. Lasted from 2005-2015

In [3]:
#Filtering, splitting functions

#Get the clean list of states from the DF.
def clean_states(df:pd.DataFrame) -> list:
    states_list = []
    for i in df.iloc[:, 0]:
        states_list.append(i.split('.')[0])
        
    return states_list

#Cleaning up data and split the DF into respective years if applicable
def clean_multi_dataset(df, renamed_col = ['State', 'Reading', 'Math', 'Writing']):
    for i in range(1, len(df.columns) - 1, 3):
        data_year = df.iloc[:,i:i+3]

        data_year.insert(0, 'States', clean_states(df))
        data_year.columns = renamed_col
        data_year['SAT Total Score'] = data_year.apply(lambda row: row.Reading + row.Math + row.Writing, axis=1)

        yield data_year
    
#For grabbing a single year out of the dataset:
def clean_dataset(df, start, end, renamed_col = ['State', 'Reading', 'Math', 'Writing']):
    data_year = df.iloc[:, start:end]

    data_year.insert(0, 'States', clean_states(df))
    data_year.columns = renamed_col
    data_year['SAT Total Score'] = data_year.apply(lambda row: row.Reading + row.Math + row.Writing, axis=1)

    return data_year

In [11]:
#Clean table of NaN rows and columns and nonuseful data.
def remove_nan(df):
    return df[pd.notnull(df.iloc[:,1])]

#Ready for splitting and filtering:

#For 2006
data_2006 = remove_nan(load_2006)

#For 2005, 2007, 2008, 2009
old_2006_2009 = remove_nan(old_2006_2009).drop(columns=[2,3,4,5,18,19])

#For 2010, 2013, 2014
sat_1995_2015 = remove_nan(sat_1995_2015).drop(columns=[2,3,4,5,6,7,8,18,19])

#For 2011, 2012

#For 2015
load_2015 = remove_nan(load_2015)

In [ ]:


#Relevant tables for 2005-2010:
cleaned_2005_2009 = clean_multi_dataset(old_2006_2009) #<-- 2005, 2007, 2008, 2009
cleaned_10_13_14 = clean_multi_dataset(sat_1995_2015) #<-- 2010, 2013, 2014
cleaned_11_12 = clean_multi_dataset(load_2011_2012) #<-- 2011, 2012

# Data for 2005-2010:
sat_2005 = next(cleaned_2005_2009)
sat_2006 = clean_dataset(data_2006, 12, 15)
sat_2007 = next(cleaned_2005_2009)
sat_2008 = next(cleaned_2005_2009)
sat_2009 = next(cleaned_2005_2009)
# sat_2010 = next(cleaned_10_13_14)

# #Data for 2011-2015:
# sat_2011 = next(cleaned_11_12)
# sat_2012 = next(cleaned_11_12)
# sat_2013 = next(cleaned_10_13_14)
# sat_2014 = next(cleaned_10_13_14)
# sat_2015 = clean_dataset(load_2015, 14, 17)

#Need 2011, 2012, 2015

In [10]:
load_2011_2012 = remove_nan(load_2011_2012)
sat_1995_2015

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,United States .....,505.0,508.0,506.0,514.0,503.0,518.0,497.0,497.0,514.0,489.0,497.0,513.0,487.0,495.0,511.0,484.0,48.055532,48.841478
1,Alabama .......................,565.0,558.0,559.0,554.0,565.0,561.0,565.0,546.0,541.0,536.0,547.0,538.0,532.0,545.0,538.0,533.0,6.700000,6.100000
2,Alaska ........................,521.0,513.0,514.0,510.0,517.0,517.0,493.0,515.0,511.0,487.0,507.0,503.0,475.0,509.0,503.0,482.0,54.200000,51.900000
3,Arizona ......................,525.0,521.0,523.0,525.0,521.0,528.0,507.0,517.0,523.0,499.0,522.0,525.0,500.0,523.0,527.0,502.0,36.400000,34.300000
4,Arkansas ......................,566.0,550.0,562.0,550.0,574.0,568.0,567.0,568.0,570.0,554.0,573.0,571.0,554.0,568.0,569.0,551.0,4.200000,4.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,\1\Members of the graduating class who had tak...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,\2\The SAT is administered to all public high ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,\3\Beginning with the spring SAT administratio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NOTE: Data for 2005-06 and earlier years are f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,"SOURCE: College Entrance Examination Board, Co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN